<section class="watch_large">
	<!-- IMAGE -->
	<%= image_tag @watch.image.url(:medium) %>
</section>


<section class="watch_info">
	<h2><%= @watch.name %></h2>
	<%= @watch.description %>
	<div>
		<span>Posted by <%# EMAIL OWNER OF WATCH %> </span>
	</div>

	<div class="action">

		<%# if current owner? %>
			<%= link_to "Edit", "#" %>
			<%= link_to "Delete", "#" %>

		<%# else %>
			<%= number_to_currency @watch.price, unit: "£" %>
			<%= link_to "Buy", "#" %>	
		<%# end %>
	</div>

</section>